$themeWhite: #fff;
$themeBlack: #201a1a;
$themeRed: #ba0c2f;
$themeOrange: #ef8b15;
$themeLightGreen: #cccb00;
$themeLightBlue: #009dcd;
$themeGreen: #46aa3b;
$themeBlue: #016897;
$primaryColor: pink;
$secondaryColor: red;
